@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal{
    background-image: url('/assets/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal__titulo{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1.75rem;
    font-weight: 700;
}

.principal__imagem{
    margin: 1em 0 2em 0;
}

.principal__link{
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1em;
}

.principal__link1{
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--cor-de-fundo);
    border-radius: 8px;
    padding: 1em;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    border: 2px solid var(--branco-principal);
    margin-bottom: 1em;
}

.principal__aviso{
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    font-weight: 400;
}

.principal__caixa{
    margin: 0 10em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 14em;
}

.secundario__descricao{
    width: 85%;
}

.descricao__titulo{
    color: var(--branco-principal);
    font-weight: 700;
    font-size: 3rem;
    font-family: var(--fonte-principal);
    margin-bottom: 0.25em;
}

.descricao__texto{
    color: var(--cinza-secundario);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte-principal)
}

.terciario{
    align-items: center;
}

.terciario__box{
    margin: 6em;
}

.box__paragrafo{
    font-size: 1rem;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    margin-bottom: 1em;
}

.box__botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1.25em 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: inline-block;
}

.terciario__imagem{
    width: 80%;
}

.quaternario{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.quaternario__div{
    display: flex;
    gap: 8em;
}

.dispositivos{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: 700;
    color: var(--branco-principal);
}

.quaternario__dispositivos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.lista{
    display: flex;
    gap: 1em;
}

.lista__footer{
    text-decoration: none;
    list-style: none;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--branco-principal);
}

.footer__paragrafo{
    font-size: 0.875rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: var(--cinza-secundario);
}

.lista__footer:hover{
    color: var(--botao-azul)
}





